.size1{
  font-size: 16px;
}
.size2{
  font-size: 15px;
}
.margin1{
  margin-top: 100px;
}
.dataTables_length label{
  font-size: 15px;
}
.dataTables_filter label{
  font-size: 15px;
}
.dataTables_info{
  font-size: 15px;
}
.dataTables_pagenate{
  font-size: 15px;
}
